.slide-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.slide-content{
  width: 800px;

  ul {
    font-size: 2em;
    margin-top: 20px;
  }

  li {
    margin-top: 10px;
  }

  .image-wrapper {
    display:flex;
    justify-content: center;
  }
}
